* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.section-contact {
  background-color: #fff;
  color: #333;
  padding: 80px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.header .subtitle {
  color: #2563eb;
  font-weight: 500;
}

.header h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 8px;
  color: #1f2937;
}

.header .description {
  color: #6b7280;
  margin-top: 12px;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.contact-card {
  background-color: #f9fafb;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.contact-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}   


.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

.icon img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

.contact-card h2 {
  font-size: 1.25rem;
  color: #111827;
  margin-bottom: 8px;
}

.contact-card p {
  color: #6b7280;
  font-size: 0.95rem;
  line-height: 1.6;
}

.contact-card .highlight {
  color: #2563eb;
  font-weight: 500;
  margin-top: 8px;
}

.contact-card a {
  color: inherit;        
  text-decoration: none;
  color: #3b3b3b;   
}
